html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  font-family: 'Regular 400', sans-serif;
}

main {
  height: 100%;
  margin: 0;
  padding: 0;
}

#aside_slide_button {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 44px;
    top: 15px;
    background: #FCFCFC;
    background-color: rgb(252, 252, 252);
    border-radius: 2000px;
    border: none;
}


#aside_slide_button::before {
    content: url(../img/arrows.svg);
    position: absolute;
    left: 2px;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

#hat_buttons_help_::before {
  content: url('../img/Question.svg'); 
    left: 2px; 
    top: 40%; 
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
}

#hat_buttons_bell::before {
  content: url('../img/Bell.svg'); 
    left: 2px; 
    top: 40%; 
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
}

#hat_buttons_log_out::before {
  content: url('../img/SignIn.svg'); 
    left: 2px; 
    top: 40%; 
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
    margin-right: 20px;
}

#hat_buttons_log_out {
  border: none;
  background-color: white;
}

.hat_buttons button{
  border: none;
  background-color: white;
  margin-top: 13px;
}



.hat {
    position: absolute;
    width: 1460px;
    height: 72px;
    left: 384px;
    top: 0px;
    background: #FCFCFC;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;

}

.hat img, div{
  margin: 5px;
}

.hat img{
  margin: 19px;
  margin-top: 19px;
}

.hat .company_owner_ img{
  margin-top: 0px;
  height: 40px;
}

.hat_items {
  display: flex;
}

aside {
    position: absolute;
    width: 104px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #FCFCFC;
    border-radius: 0px;
}

aside img{
  margin-top: 3px;
  margin-bottom: 3px;
  
}

.aside_menu_buttons{
  border: none;
  background-color: #FCFCFC;
  width: 77%;
  margin-left: 11%;
  height: 50px;
  border-radius: 10px;
  text-align: left;
  padding-left: 25%;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-flex;
  align-items: center;

}

aside span {
    position: relative; /* Изменение позиционирования на относительное */
    width: 76px;
    height: auto; /* Позволяет высоте автоматически настраиваться в зависимости от контента */
    left: calc(50% - 59px/2);
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px; /* Установите желаемую высоту строки */
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #B9B9B9;
    margin-top: 5px; /* Добавляем отступ между строками */
}


aside button:hover{
  background-color: rgb(223, 242, 227);

}

aside img{
  width: 180px;
  margin-top: 20px;
  margin-left: 40px; 
  margin-bottom: 5px; 
  width: 50%;
}

aside button img {
    width: 24px;
    margin: 0;
    margin-right: 10px;
}


iframe {
    /* Maps / Full Map */

  position: unset;
  height: 100%;
  background: #FFFFFF;
  width: 100%;

}

._line {
  height: 24px;
  border-right: 2px solid gray;
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

.company_owner_ {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 40px;
  margin-top: 10px;
}

.company_owner_ span {
  display: block;
}

#full_name {
  align-self: top;
}


#toggle_checkbox
{
    display: none;
}

label {
    display: block;
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    width: 46px;
    height: 24px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star {
    top: -17px;
    left: -25px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}
#moon {
    position: relative;
    bottom: -38px;
    margin-top: 8px;
    right: -13px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}


#moon:before {
    content: "";
    position: absolute;
    top: -14px;
    left: -20px;
    width: 36px;
    height: 33px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}

.line {
    width: 1px;
    height: 18px;
    background: #B9B9B9;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.toggle_checkbox {
body-color: #21222D; /* Цвет фона для темной темы */
    color: #FFFFFF;
}

/* centering */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
    font-family: 'Google Sans', sans-serif;
    font-size: 12px;
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    margin-left: 376px;
    color: black;
    top: 111px;
}
.textM {
    font-family: 'Google Sans', sans-serif;
    position: fixed;
    width: 192px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 26px;
    color: black;
    top: 105px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
}
.textC {
    font-family: 'Google Sans', sans-serif;
    position: fixed;
    width: 192px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 26px;
    color: black;
    top: 180px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
}
.block {
    position: fixed;
    width: 1460px;
    height: 696px;
    left: 384px;
    top: 155px;
    background: #FCFCFC;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.knopki{
  margin-top: 54px;  
}
.menu{
    position: fixed;
    width: 260px;
height: 945px;
left: 104px;

background: #FCFCFC;}

.menu {
    position: absolute;
    width: 260px;
    height: 910px;
    left: 107px;
    top: 0px;
    background: #FCFCFC;
    border-radius: 0px;
}
.menu_butt {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 110px;
    position: absolute;
    width: 184px;
    height: 24px;
    left: -1px;
    top: -202px;
    justify-content: flex-end;
    background-color: #FCFCFC;
    border-style: none;
    flex-direction: row-reverse;
    font-family: Google Sans;
font-size: 13px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}
.uni{
     display: flex;
    width: 196px;
    margin: 0;
    margin-top: 10px;
    align-items: center;}

.uni span {
    margin-left: 20px;
}
.f_hat {
    position: fixed;
    width: 1460px;
    height: 72px;
    left: 384px;
    top: 80px;
    background: #FCFCFC;
    border-radius: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 780px;
    height: 44px;
    top: 66px;
    left: 20px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border-radius: 8px;
    border-color: #E9EBEC;
}
 .web {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 780px;
    height: 44px;
    top: 138px;
    left: 20px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: #E9EBEC;
    background-size: cover;
}
.des {
    position: absolute;
    width: 780px;
    height: 128px;
    left: 20px;
    top: 216px;
    border-radius: 10px;
    border-color: #E9EBEC;
    background-size: cover;
}
.spisok {
    position: absolute;
    width: 780px;
    height: 44px;
    top: 376px;
    left: 20px;
    border-radius: 10px;
    border-color: #E9EBEC;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0;
}
.save {
    width: 253px;
    height: 44px;
    top: 20px;
    left: 1051px;
    gap: 20px;
    opacity: 0;
    position: absolute;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
#tags {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    position: relative;
    width: 130px;
    height: 44px;
    left: -953px;
    top: 434px;
    background: #DAF2FF;
    border: 2px solid #DAF2FF;
    border-radius: 200px;
    cursor: pointer;
    margin-right: 29px;
}
.quik {
    position: fixed;
    width: 180px;
    height: 44px;
    top: 94px;
    left: 1407px;
    background-color: #FCFCFC;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
    border: none;
}
.full {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 44px;
    top: 94px;
    left: 1616px;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    border: 2px;
    gap: 10px;
    background: #263238;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCFCFC;
}
